{% extends 'fpicount/layout.html.twig' %}

{% block title %}Attestation de paiement{% endblock %}

{% block body %}

 <div class="container">
 <div class="alert alert-info">
 <div class="well">
 <ul>

<caption class="well well-sm"><h2> Attestation de paiement</h2></caption>

    <table>
            <tr>
                <th class="well well-sm">Nom:</th>
                <td class="well well-sm">{{ adhesionfirstname }}</td>
                <th class="well well-sm">N°Adherent:</th>
                <td class="well well-sm">{{ adhesionId }}</td>
                <th class="well well-sm">Vous êtes à jour jusqu'au:</th>
                <td class="well well-sm">{{ adhesiondateecheancebis | date('d-m-Y') }}</td>
            </tr>
    
    </table>

    <table>
            <tr>
                <th class="well">Nature paiement </th>
                <th class="well">Reference </th>
                <th class="well">Date paiement </th>
                <th class="well">Paiement ttc </th>
                <th class="well">Date d'échéance </th>
            </tr>
             {% for fpicount in fpicounts %}
            <tr>
                <td class="well well-sm">{{ fpicount.description }}</td>
                <td class="well well-sm">{{ fpicount.ref }}</td>
                <td class="well well-sm">{{ fpicount.dateBill.date | date('d-m-Y') }}</td>
                <td class="well well-sm">{{ fpicount.totalTtc  / 100 }}</td>
                <td class="well well-sm">{{ fpicount.dateEcheance.date | default("") | date('d-m-Y') }}</td>
            </tr>
             {% else %}
                <li>Nous ne trouvons aucune facture.</li>
            {% endfor %}
         
    </table>  
</ul>
</div>
</div>
    </div>
    <div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="{{ path('home') }}"><p><h4><span class="label label-success">Retour</span></h4></p></a>
      <a href="{{ path('sendmail_sendattestation') }}"><p><h4><span class="label label-info">Recevoir votre attestation par email</span></h4></p></a>

    </div>
  </div>
</div>


</div>
{% endblock %} 