{% extends 'base.html.twig' %}

{% block title %}fpicount{% endblock %}

{% block body %}
    <h1>fpicount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fpicount.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ fpicount.ref }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fpicount.description }}</td>
            </tr>
            <tr>
                <th>PUnHt</th>
                <td>{{ fpicount.pUnHt }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ fpicount.qte }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ fpicount.remise }}</td>
            </tr>
            <tr>
                <th>PUnHtRem</th>
                <td>{{ fpicount.pUnHtRem }}</td>
            </tr>
            <tr>
                <th>PrixTotHt</th>
                <td>{{ fpicount.prixTotHt }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ fpicount.tva }}</td>
            </tr>
            <tr>
                <th>DateBill</th>
                <td>{{ fpicount.dateBill ? fpicount.dateBill|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TotalTtc</th>
                <td>{{ fpicount.totalTtc }}</td>
            </tr>
            <tr>
                <th>TotCumul</th>
                <td>{{ fpicount.totCumul }}</td>
            </tr>
            <tr>
                <th>DateCumul</th>
                <td>{{ fpicount.dateCumul ? fpicount.dateCumul|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fpicount_index') }}">back to list</a>

    <a href="{{ path('fpicount_edit', {'id': fpicount.id}) }}">edit</a>

    {{ include('fpicount/_delete_form.html.twig') }}
{% endblock %}
