{% extends 'base.html.twig' %}

{% block title %}Carte payé.{% endblock %}

{% block body %}

 <div class="well">
 <ul>
            <div> <img src="{{ asset('assets/img/logofpi.png') }}" class="img-circle"  alt="logo"></div>
				<h4>FRONT  POPULAIRE  IVOIRIEN</h4>        
				<h6>Représentation FPI-FRANCE</h6>        
			</div>

<caption class="well well-sm"><h3> Liste des Adhérents ayant payé une carte.</h3></caption>
       <div> <p><h3> Cumul Total vente des cartes:{{ total_somme/100 }}</h3></p></div>

    <table>
    {% if listfpicounts %}
            <tr>
                <th class="well">N°Adher:</th>
                <th class="well">Nom </th>
                <th class="well">Prenom </th>
                <th class="well">Mont</th>
                <th class="well">Date paiemt </th>
                <th class="well">Ref:</th>
                </tr>
         {% for fpicount in listfpicounts  %}
         <tr> 
                <td class="well well-sm">{{ fpicount.user.adhesion.id  | default("") }}</td>
                <td class="well well-sm">{{ fpicount.user.adhesion.firstname  | default("") }}</td>
                <td class="well well-sm">{{ fpicount.user.adhesion.lastname  | default("") }}</td>
                <td class="well well-sm">{{ fpicount.totalTtc/100  | default("") }}</td>
                <td class="well well-sm">{{ fpicount.dateBill  | default("") | date('d-m-Y')  }}</td>
                <td class="well well-sm">{{ fpicount.ref  | default("") }}</td>
                    </tr>
         {% endfor %}
    {% else %}
   Aucun Abonnement d'adherents.
{% endif %}
    </table>  
</u>
</div>
<a href="{{ '/' }}"><p><h4><span class="label label-success">Retour</span></h4></p></a>
</div>
{% endblock %} 