{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

<div class="container">


{{ form_start(form) }}
{{ form_row(form.user1name) }}
{{ form_row(form.user2name) }}
{{ form_row(form.user3mail) }}
{{ form_row(form.sg1name) }}
{{ form_row(form.sg2name) }}
{{ form_row(form.sg3mail) }}

{# {{ form_row(form.content) }} #}

{{ form_label(form.content, ' ') }}
{{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '5', 'style': 'resize:none;'} }) }}
{{ form_errors(form.content) }}

{# {{ form_row(form.dateMail) }} #}
{{ form_row(form.genre) }}






<button class="btn btn-success">{{ label | default('save') | trans }}</button>

<div>
{{ form_end(form) }}
</div>

</div>